<div class="modal-header">
  <h4 class="modal-title">Edit</h4>
</div><!-- modal-header -->
<div class="modal-body">
  <div class="row" ng-repeat="(k, v) in data">
    <div class="form-group">
      <label class="control-label col-xs-3">{{ k }}</label>
      <div class="col-xs-8">
        <input type="text" class="form-control"
        ng-hide="isObj(v) || isArray(v)" ng-model="data[k]"/>
        <button ng-show="isObj(v) || isArray(v)" ng-click="edit(k, v)">
          <i class="fa fa-pencil-square-o"></i>
        </button>
      </div><!-- 6 -->
    </div><!-- form-group -->
  </div><!-- row -->
</div><!-- modal-body -->
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div><!-- modal-footer -->

