<div class="container-fluid">
  <div class="col-xs-3">
    <select
    ng-model="db"
    ng-options="d as d for d in database">
    </select>
    <div class="list-group">
      <a href="#/collection/{{ db }}/{{ c }}" class="list-group-item"
      ng-repeat="c in collection">
        {{ c }}
      </a>
    </div>
  </div><!-- 3 -->
  <div ng-view class="col-xs-9"></div>
</div><!-- container -->

