<!DOCTYPE html>
<html lang="zh-CN" ng-app="ma" ng-csp>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ng-table.min.css">
    <link rel="stylesheet" href="css/index.min.css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="renderer" content="webkit">
    <title>mgoAdmin 0.0.1</title>
  </head>
  <body ng-controller="WebCtrl">
    {[{ yield }]}
    <footer>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-locale_zh-cn.js"></script>
    <script src="js/ui-bootstrap-tpls.min.js"></script>
    <script src="js/ng-table.min.js"></script>
    <script src="js/angular-local-storage.min.js"></script>
    <script src="js/index.min.js"></script>
  </body>
</html>

